














$trentsGrey: #DADFEA;
$pro: #443C30;
$champ: #6e869e;
$men: #ffffff;
$women: #900000;
$mainFont: 'Quicksand', sans-serif;

@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: $mainFont;
  background-color: $trentsGrey;
}

div {
  outline: none;
}

.backgroundImage {
  /* The image used */
  background-image: url("../../assets/coursev3.jpg");

  /* Add the blur effect */
  filter: blur(5px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: right;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}

.topBar {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 10px 0;
  width: 100%;
  //text-align: center
  color: white;
  font-size: 50px;
  div {
    margin-left: 25px;
  }
  .topBarContent {
    display: flex;
    align-items: center;
    span {
      margin-left: 15px;
    }
    .small {
      margin-left: 30px;
      font-size: 28px;
      padding: 0 5px;
      border-radius: 5px;
    }
    .small:hover {
      padding: 5px;
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 0.1); /* Black w/opacity/see-through */
    }
  }
}

.selector {
  text-align: center;
  color: white;
  font-size: 36px;
  margin-top: 90px;
  margin-bottom: 15px;
}

.middleBox {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    height: 250px;
    width: 93%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.courseBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(200, 200, 200, 0.95);
  margin: 20px;
  padding: 10px;
  width: 300px;
  overflow: hidden;
  box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, .4);
  .courseName {
    font-size: 28px;
  }
  button {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}