$trentsGrey: #dadfea;
$mainFont: "Quicksand", sans-serif;

@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.7s;
}

.inner {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.scoreCard {
  border: 20px solid white;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 22px;
  div {
    display: flex;
    flex-direction: column;
  }
  .titleBox {
    background-color: rgba(219, 223, 233, 0.9);
    height: 100%;
    div {
      height: 55px;
      width: 175px;
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
      border-left: 1px solid grey;
      display: flex;
      justify-content: center;
      text-align: center;
    }
    div:first-child {
      border-top: 1px solid grey;
    }
  }
  .scores {
    //border-top: 1px solid grey;
    //border-right: 1px solid grey;
    //border-bottom: 1px solid grey;
    display: flex;
    flex-direction: row;
    background-color: rgba(219, 223, 233, 0.9);
    height: 100%;
    div {
      display: flex;
      //justify-content: center;
      //align-items: center;
      text-align: center;
      width: 50px;
    }
    .outbox {
      width: 60px;
    }
    .inbox {
      width: 60px;
    }
    .totalbox {
      width: 90px;
    }
  }
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  text-align: center;
  border-bottom: 1px solid grey;
  border-right: 1px solid grey;
}

.pro {
  background-color: rgba(68, 60, 48, 0.7);
}

.champion {
  background-color: rgba(110, 134, 158, 0.7);
}

.men {
  background-color: rgba(255, 255, 255, 0.7);
}

.women {
  background-color: rgba(144, 0, 0, 0.7);
}

.handiColor {
  background-color: rgba(236, 230, 142, 0.7);
}

.parColor {
  background-color: rgba(142, 205, 236, 0.7);
}

.holeColor {
  background-color: rgba(193, 220, 170, 0.7);
  border-top: 1px solid grey;
}

.popbox {
  position: relative;
}

.popup {
  font-size: 12px;
  visibility: hidden;
  width: 160px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  left: 107px;
}

.popup::after {
  content: "";
  position: absolute;
  top: 30%;
  left: -14px;
  border-width: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
  transform: rotate(90deg);
}

#teeTitle {
  position: relative;
}

#teeEditButton {
  visibility: hidden;
  position: absolute;
  left: 10px;
  z-index: 1;
  font-size: 16px;
}

#editTeePickerBox {
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: -170px;
  height: 150%;
  z-index: 1;
  font-size: 13px;
  background-color: $trentsGrey;
  border-radius: 10px;
  border: none;
  span {
    width: 97%;
    border-radius: 5px;
  }
}

#editTeePickerBox::after {
  content: "";
  position: absolute;
  top: 42%;
  left: -14px;
  border-width: 7px;
  border-style: solid;
  border-color: $trentsGrey transparent transparent transparent;
  transform: rotate(90deg);
}

#save {
  position: fixed;
  bottom: 75px;
  left: calc(50% - 33.1px);
}

.topBar {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  padding: 10px 0;
  width: 100%;
  //text-align: center
  color: white;
  font-size: 50px;
  div {
    margin-left: 25px;
  }
  .topBarContent {
    display: flex;
    align-items: center;
    span {
      margin-left: 15px;
    }
    .small {
      margin-left: 30px;
      font-size: 28px;
      padding: 0 5px;
      border-radius: 5px;
    }
    .small:hover {
      padding: 5px;
      transition: 0.3s;
      background-color: rgba(0, 0, 0, 0.1); /* Black w/opacity/see-through */
    }
  }
}

.configurations {
  font-family: $mainFont;
  @include centerDisplay();
  flex-direction: column;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(219, 223, 233, 0.9);
  .closeButton {
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 30px;
  }
}

#numberOfPlayers {
  @include centerDisplay();
  flex-direction: column;
  span {
    font-size: 72px;
    margin-bottom: 15px;
  }
  form {
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    div {
      padding: 5px 75px 5px 75px;
      margin-top: 25px;
      box-shadow: 8px 8px 5px 0 grey;
      //box-shadow: 3px 3px 10px 0 inset;
    }
    input {
      background-color: rgba(0, 0, 0, 0.05);
      outline: none;
      border: 1px solid $trentsGrey;
      font-size: 32px;
    }
  }
  #continue {
    margin-top: 20px;
    padding: 3px 25px;
    font-size: 15px;
  }
  button {
    font-size: 18px;
    padding: 5px 75px;
    margin-top: 15px;
    text-align: center;
    border: none;
    outline: none;
    background-color: cadetblue;
    color: white;
  }
}

.saved {
  position: fixed;
  font-size: 24px;
  right: calc(50% - 175.25px);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 25px;
  top: 100px;
}

#closepop {
  position: absolute;
  top: 2px;
  right: 0px;
  font-size: 105%;
}

.loadingIcon {
  position: fixed;
  top: 50%;
  left: calc(50% - 25px);
  color: white;
  font-size: 50px;
}
