<!-- 
    SET TEE IN URL √
    GET TEE FROM URL √
    GET DATA AND FILL IN HTML
 -->
<div class="backgroundImage"></div>
<div class="container">
  <div class="topBar">
    <div class="topBarContent">
      <i [routerLink]="['']" class="fas fa-golf-ball"></i>
      <span>BIRDIE</span>
    </div>
  </div>
  <div class="inner">
    <div class="scoreCard" *ngIf="data">
      <div class="titleBox">
        <div class="holeColor">Hole</div>
        <div [className]="tee" id="teeTitle">
          {{ tee | firstLetterUppercase }}
        </div>
        <div class="handiColor">Handicap</div>
        <div class="parColor">Par</div>
        <div
          (blur)="editPlayerName($event)"
          contenteditable="true"
          id="0"
          #id0
          [textContent]="(game.players[0].name | duplicateName:0:id0)"
        ></div>
        <div
          (blur)="editPlayerName($event)"
          contenteditable="true"
          id="1"
          #id1
          [textContent]="(game.players[1].name | duplicateName:1:id1)"
        ></div>
        <div
          (blur)="editPlayerName($event)"
          contenteditable="true"
          id="2"
          #id2
          [textContent]="(game.players[2].name  | duplicateName:2:id2)"
        ></div>
        <div
          (blur)="editPlayerName($event)"
          contenteditable="true"
          id="3"
          #id3
          [textContent]="(game.players[3].name  | duplicateName:3:id3)"
        ></div>
      </div>

      <div class="scores">
        <div id="h{{ hole.hole }}" *ngFor="let hole of holes">
          <div class="holeColor box">{{ hole.hole }}</div>


          <div [ngClass]="[tee]" class="box" id="tee{{ hole.hole }}" *ngIf="courseId == '18300'">
            {{ tee == 'pro' ? hole.teeBoxes[0].yards : tee == 'champion' ? hole.teeBoxes[1].yards : tee == 'men' ? hole.teeBoxes[2].yards : hole.teeBoxes[3].yards }}
          </div>
          <div class="box handiColor" id="handi{{ hole.hole }}" *ngIf="courseId == '18300'">
            {{ tee == 'pro' ? hole.teeBoxes[0].hcp : tee == 'champion' ? hole.teeBoxes[1].hcp : tee == 'men' ? hole.teeBoxes[2].hcp : hole.teeBoxes[3].hcp }}
          </div>
          <div class="box parColor" id="par{{ hole.hole }}" *ngIf="courseId == '18300'">
            {{ tee == 'pro' ? hole.teeBoxes[0].par : tee == 'champion' ? hole.teeBoxes[1].par : tee == 'men' ? hole.teeBoxes[2].par : hole.teeBoxes[3].par }}
          </div>

          <div [ngClass]="[tee]" class="box" id="tee{{ hole.hole }}" *ngIf="courseId == '11819'">
            {{ tee == 'pro' ? hole.teeBoxes[0].yards : tee == 'champion' ? hole.teeBoxes[1].yards : tee == 'men' ? hole.teeBoxes[2].yards : hole.teeBoxes[3].yards }}
          </div>
          <div class="box handiColor" id="handi{{ hole.hole }}" *ngIf="courseId == '11819'">
              {{ tee == 'pro' ? hole.teeBoxes[0].hcp : tee == 'champion' ? hole.teeBoxes[1].yahcprds : tee == 'men' ? hole.teeBoxes[2].hcp : hole.teeBoxes[3].hcp }}
            </div>
          <div class="box parColor" id="par{{ hole.hole }}" *ngIf="courseId == '11819'">
              {{ tee == 'pro' ? hole.teeBoxes[0].par : tee == 'champion' ? hole.teeBoxes[1].par : tee == 'men' ? hole.teeBoxes[2].par : hole.teeBoxes[3].par }}
          </div>

          <div [ngClass]="[tee]" class="box" id="tee{{ hole.hole }}" *ngIf="courseId == '19002'">
              {{ tee == 'champion' ? hole.teeBoxes[0].yards : tee == 'men' ? hole.teeBoxes[1].yards : hole.teeBoxes[2].yards }}
            </div>
            <div class="box handiColor" id="handi{{ hole.hole }}" *ngIf="courseId == '19002'">
              {{ tee == 'champion' ? hole.teeBoxes[0].hcp : tee == 'men' ? hole.teeBoxes[1].hcp : hole.teeBoxes[2].hcp }}
            </div>
            <div class="box parColor" id="par{{ hole.hole }}" *ngIf="courseId == '19002'">
                {{ tee == 'champion' ? hole.teeBoxes[0].par : tee == 'men' ? hole.teeBoxes[1].par : hole.teeBoxes[2].par }}
            </div>


          <div
            contenteditable="true"
            [textContent]="game.players[0].scores[hole.hole - 1]"
            (blur)="updateScore($event)"
            class="box p1"
            id="p1h{{ hole.hole }}"
          ></div>
          <div
            contenteditable="true"
            [textContent]="game.players[1].scores[hole.hole - 1]"
            (blur)="updateScore($event)"
            class="box p2"
            id="p2h{{ hole.hole }}"
          ></div>
          <div
            contenteditable="true"
            [textContent]="game.players[2].scores[hole.hole - 1]"
            (blur)="updateScore($event)"
            class="box p3"
            id="p3h{{ hole.hole }}"
          ></div>
          <div
            contenteditable="true"
            [textContent]="game.players[3].scores[hole.hole - 1]"
            (blur)="updateScore($event)"
            class="box p4"
            id="p4h{{ hole.hole }}"
          ></div>
        </div>

        <div class="outbox">
            <div class="holeColor box outbox">OUT</div>
            <div class="box outbox" [ngClass]="[tee]">
              
            </div>
            <div class="box outbox handiColor">
  
            </div>
            <div class="box outbox parColor">
  
            </div>
            <div class="box outbox">{{ game.players[0].totals.out }}</div>
            <div class="box outbox">{{ game.players[1].totals.out }}</div>
            <div class="box outbox">{{ game.players[2].totals.out }}</div>
            <div class="box outbox">{{ game.players[3].totals.out }}</div>
        </div>

        <div class="inbox">
            <div class="holeColor box inbox">IN</div>
            <div class="box inbox" [ngClass]="[tee]">
              
            </div>
            <div class="box inbox handiColor">
  
            </div>
            <div class="box inbox parColor">
  
            </div>
            <div class="box inbox">{{ game.players[0].totals.in }}</div>
            <div class="box inbox">{{ game.players[1].totals.in }}</div>
            <div class="box inbox">{{ game.players[2].totals.in }}</div>
            <div class="box inbox">{{ game.players[3].totals.in }}</div>
        </div>

        <div class="totalbox">
            <div class="holeColor box totalbox">TOTAL</div>
            <div class="box totalbox" [ngClass]="[tee]">
              
            </div>
            <div class="box totalbox handiColor">
  
            </div>
            <div class="box totalbox parColor">
  
            </div>
            <div class="box totalbox">{{ game.players[0].totals.total }}</div>
            <div class="box totalbox">{{ game.players[1].totals.total }}</div>
            <div class="box totalbox">{{ game.players[2].totals.total }}</div>
            <div class="box totalbox">{{ game.players[3].totals.total }}</div>
        </div>

      </div>
    </div>
  </div>
</div>

<button
  *ngIf="data"
  type="button"
  color="secondary"
  mat-raised-button
  id="save"
  (click)="saveGame()"
>
  SAVE
</button>

<div class="configurations" *ngIf="show">
  <div id="numberOfPlayers">
    <div class="closeButton" onclick="closeSave()">&#215;</div>
    <span>Enter New Game Name</span>
    <form id="teeForm">
      <input #name type="text" />
    </form>
    <button mat-raised-button id="continue" (click)="updateGameName(name)">
      CONTINUE
    </button>
  </div>
</div>

<div *ngIf="savepop" class="saved">
  <span>Your scorecard has been saved!</span>
  <i (click)="hide()" class="material-icons" id="closepop">
    close
  </i>
</div>

<div *ngIf="!data" class="loadingIcon">
  <i class="fa fa-spinner fa-spin"></i>
</div>
