$pro: #443C30;
$champ: #6e869e;
$men: #ffffff;
$women: #900000;
$mainFont: 'Quicksand', sans-serif;


@mixin centerDisplay() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.configurations {
  font-family: $mainFont;
  @include centerDisplay();
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: rgba(219, 223, 233, 0.9);
  .closeButton {
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 5px;
    right: 30px;
    cursor: pointer;
  }
}

#numberOfPlayers {
  @include centerDisplay();
  flex-direction: column;
  span {
    font-size: 72px;
    margin-bottom: 15px;
  }
  form {
    display: flex;
    text-align: center;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
    }
    button {
      width: 250px;
      font-size: 18px;
      padding: 5px 75px;
      text-align: center;
      border: none;
      outline: none;
      background-color: cadetblue;
      color: white;
    }
  }
}