<div class="configurations">
  <div id="numberOfPlayers" *ngIf="savedGames">
    <div class="closeButton" (click)="goBack()">&#215;</div>
    <span>Select a Scorecard</span>
    <form *ngFor="let game of savedGames">
      <div>
        <button
          type="button"
          mat-raised-button
          [routerLink]="['/card', game.id]"
        >
          {{ game.name }}
        </button>
        <i class="material-icons" (click)="deleteGame(game.id)">
          delete_outline
        </i>
      </div>
    </form>
  </div>
</div>
