<div class="configurations" *ngIf="savedGames">
  <div id="numberOfPlayers">
    <div class="closeButton" (click)="goBack()">&#215;</div>
    <span>{{ savedGames?.length > 0 ? 'Select a Scorecard' : 'Oops! There aren\'t any saved scorecards!'}}</span>
    <button mat-button *ngIf="savedGames?.length == 0" [routerLink]="['']">NEW SCORECARD</button>
    <form *ngFor="let game of savedGames">
      <div>
        <button
          type="button"
          mat-raised-button
          [routerLink]="['/card', game.id]"
        >
          {{ game.name }}
        </button>
        <i class="material-icons" (click)="deleteGame(game.id)">
          delete_outline
        </i>
      </div>
    </form>
  </div>
</div>

<div *ngIf="!savedGames" class="loadingIcon">
  <i class="fa fa-spinner fa-spin"></i>
</div>
